<% content_for :title do %>
トップページ
<% end %>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">各種リンク</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul>
      <li><a href="https://uchi.salon/" target="_blank">うちサロン</a></li>
      <li><a href="#" target="_blank">Twitter (予定)</a></li>
      <li><a href="#" target="_blank">Facebook (予定)</a></li>
      <li><a href="#" target="_blank">Instagram (予定)</a></li>
    </ul>
    <ul>
      <li><a href="https://analytics.google.com/analytics/web/#embed/report-home/a108819780w162515423p163613190/" target="_blank">Google Analytics</a></li>
      <li><a href="https://www.google.com/webmasters/tools/dashboard?utm_source=ga_alert&siteUrl=https%3A%2F%2Fuchi.salon%2F&hl=ja" target="_blank">Search Console</a></li>
    </ul>
    <ul>
      <li><a href="https://docs.google.com/spreadsheets/d/1oFemWieD8vDaeHZDklvIKdDT2G6Xy7COVL6wIr6Rx18/edit#gid=619612354" target="_blank">機能一覧</a></li>
      <li><a href="https://drive.google.com/drive/u/0/folders/0B_kIBfTzU6CRUGZpazRBNTdxVXc" target="_blank">ドキュメント置き場 (Google ドキュメント)</a></li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
  </div>
  <!-- box-footer -->
</div>
<!-- /.box -->

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">開発関係リンク</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul>
      <li><a href="https://github.com/kyuuki/matching" target="_blank">GitHub (ソースコード)</a></li>
      <li><a href="https://uchi.salon/" target="_blank">本番環境</a></li>
      <li><a href="https://matching-development.herokuapp.com/" target="_blank">ステージング環境</a></li>
      <li><a href="https://dashboard.heroku.com/apps/matching-production" target="_blank">Heroku (本番)</a></li>
      <li><a href="https://dashboard.heroku.com/apps/matching-development" target="_blank">Heroku (ステージング)</a></li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
  </div>
  <!-- box-footer -->
</div>
<!-- /.box -->
