<section class="section p-customer-voice c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title">購入された方の声</h3>
      <div class="row">
          <div class="p-customer-voice__leftbox col-sm-6">
            <div class="col-sm-2 text-center">
                <img class="section__roundimg p-customer-voice__avater" src="/images/prof_img2.jpg" alt="プロフィール写真">
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <h4 class="section__subhead">ジェルネイルを注文</h4>
                <p>初めてでしたが、予約には、２、３分しかかからず、簡単でした。来ていただいたネイリストさんは、時間も仕事も正確で、その日は近辺でパーティーがあったのですが、すっかり綺麗なネイルで楽しんでくることが出来ました。また、お願いします。</p>
            </div>
        </div>
          <div class="p-customer-voice__rightbox col-sm-6">
            <div class="col-sm-2 text-center">
                <img class="section__roundimg p-customer-voice__avater" src="/images/prof_img.jpg" alt="プロフィール写真">
            </div>
            <div class="col-sm-9 col-sm-offset-1">
                <h4 class="section__subhead">子育てで疲れた自分にこっそりご褒美</h4>
                <p>夜遅い時間を指定したのですが、センスの良い仕事のできるネイリストさんが来てくださいました。子供が寝ている間にゆっくり家でネイルが出来て気分も一新。明日からもまた頑張れます！</p>
            </div>
        </div>
        </div>
      </div>
</section>

<% if current_user.nil? %>
<section class="section p-trial-recommend c-border-r c-border-l">
    <div class="container">
        <h3 class="text-center p-trial-recommend__title">まずは<b>無料</b>で<b>お試し</b>♪</h3>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <!-- <a data-target="sign_up" class="btn btn-warning btn-lg btn-block modal-open">無料ユーザー登録はこちら</a> -->
          <%= link_to "無料ユーザー登録はこちら", new_user_registration_path, { class: "btn btn-warning btn-lg btn-block" } %>
        </div>
      </div>
    </div>
</section>
<% end %>

