<% content_for :title do %>
Matchingとは？
<% end %>

    <div class="jumbotron-underlayer">
        <div class="jumbotron">
          <div class="container">
            <h2 class="text-center jumbotron-underlayer__title">
                Matchingとは？
            </h2>
            <p class="text-center jumbotron-underlayer_lead-text">
                美容に関する売り買いがかんたんにできる、<br>
                安心・安全のマッチングサービスです。<br>
                たった1分で登録が完了するので、<br>
                明日にはおうちがサロンに早変わりします。
            </p>
          </div>
        </div>
    </div>

<section class="section c-border-t c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title-sub">おうちにサロンをよびましょう！</h3>
      <div class="row">
        <div class="col-sm-6">             
          <ul class="section__list">
                <li><b>子育てで</b>ヘアサロンで<b>ゆっくりカット・カラーが出来ない方</b>へ</li>
                <li>0歳から2歳の<b>小さい子供がいる</b>が、<b>ヘアサロンではカットをしてもらえない</b>とお悩みの方へ</li>
              <li><b>高齢者の方にも</b>ご自宅で安心して<b>ネイルケアやネイルカラーを楽しんで</b>いただけます</li>
                <li><b>サロン体験をプレゼント</b>ととして、お友達やご家族に送りましょう</li>
                <li>おうちにある<b>お気に入りのネイルカラーでネイルアート</b>をしてほしい</li>
          </ul>
        </div>
        <div class="col-sm-6">
             <img class="c-w100" src="/images/about_img1.jpg" alt="女性">
        </div>
      </div>
    </div><!-- .container -->
</section>

<section class="section c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title-sub">簡単ステップで予約完了！</h3>
      <div class="row">
        <div class="col-md-2 col-sm-offset-1 text-center">
            <p><img class="c-w100" src="/images/about_step1_img.jpg" alt="登録"></p>
                <h4 class="c-bold">❶ 登録</h4>
            <p>サイトから会員登録をする</p>
        </div>
        <div class="col-md-2 text-center">
            <p><img class="c-w100" src="/images/about_step2_img.jpg" alt="スタイリスト検索"></p>
                <h4 class="c-bold">➋ スタイリスト検索</h4>
            <p>周辺のスタイリストを検索する</p>
        </div>
        <div class="col-md-2 text-center">
            <p><img class="c-w100" src="/images/about_step3_img.jpg" alt="契約"></p>
                <h4 class="c-bold">➌ 契約</h4>
            <p>気に入ったスタイリストと契約する</p>
        </div>
        <div class="col-md-2 text-center">
            <p><img class="c-w100" src="/images/about_step4_img.jpg" alt="スタイリスト訪問"></p>
                <h4 class="c-bold">➍ スタイリスト訪問</h4>
            <p>設定した日時にスタイリストが参ります</p>
        </div>
        <div class="col-md-2 text-center">
            <p><img class="c-w100" src="/images/about_step5_img.jpg" alt="お支払い"></p>
                <h4 class="c-bold">➎ お支払い</h4>
            <p>スタイリストに直接お支払いをお願いします</p>
        </div>
      </div>
    </div><!-- .container -->
</section>


<section class="section c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title-sub">あなたの技術を使って<br>空き時間でお仕事をしませんか？</h3>
      <div class="row">
       <div class="col-sm-6">
             <img class="c-w100" src="/images/about_img2.jpg" alt="女性">
        </div>
        <div class="col-sm-6">             
          <ul class="section__list">
                <li><b>子育て中</b>で、<b>フルタイムで仕事が出来ない</b>が<b>空いた時間で技術を活かして収入</b>が欲しい</li>
                <li><b>全国の恵まれない子供たちのため</b>に、<b>寄付したい</b>、協力したい</li>
                <li>高齢者、身体の不自由な方々の人助けをするのが好き、人の喜ぶ顔を見たい</li>
                <li>プロ・フリーランスのヘアスタイリスト、ネイリスト、マッサージセラピスト、エステティシャン、アイリストの方</li>
                <li>お客様のマッチング、お支払い、キャンセルの対応など、<b>仕事以外の事はシステムに任せたい</b></li>
          </ul>
        </div>
        
      </div>
    </div><!-- .container -->
</section>

<%= render "shared/voice" %>
