<div class="jumbotron-top">
    <div class="jumbotron">
      <div class="container">
        <h2 class="jumbotron-top__title">
          キャッチコピーキャッチコピー<br>
          キャッチコピーキャッチコピー
        </h2>
      </div>
    </div>
</div>

<section class="section c-border-t c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title">サービス内容</h3>
      <div class="row">
        <div class="col-sm-4">
             <div class="section__img-box">
                 <p class="text-center"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></p>
                 <h4 class="text-center">誰でもかんたんに使える</h4>   
             </div>                
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="col-sm-4">
             <div class="section__img-box">
                 <p class="text-center"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></p>
                 <h4 class="text-center">誰でもかんたんに使える</h4>   
             </div>                
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="col-sm-4">
             <div class="section__img-box">
                 <p class="text-center"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></p>
                 <h4 class="text-center">誰でもかんたんに使える</h4>   
             </div>                
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
      </div>
      <p class="text-center">
          <%= link_to about_path do %>
            <button type="button" class="btn btn-outline-danger btn-lg">Matchingとは？</button>
          <% end %>
      </p>
    </div><!-- .container -->
</section>

<section class="section c-bg-dark c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title">販売中のチケット</h3>

  <% @items.each_slice(3) do |items| %>
    <div class="row">
      <%= render items %>
    </div>
  <% end %>
 </div>    
</div>

<%= render "shared/voice" %>
