<div class="jumbotron">
  <div class="container">
    <h2>
      キャッチコピーキャッチコピー<br>
      キャッチコピーキャッチコピー
    </h2>
  </div>
</div>

<div class="container">
  <h3 class="page-header text-center">サービス内容</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>
        誰でもかんたんに使える
      </p>
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        誰でもかんたんに使える
      </p>
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        誰でもかんたんに使える
      </p>
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>
  <p class="text-center">
    <a href="#" class="btn btn-primary btn-lg">○○とは？</a>
  </p>
</div>

<div class="container">
  <h3 class="page-header text-center">販売中のチケット</h3>
</div>

<div class="container">
  <h3 class="page-header text-center">購入された方の声</h3>
  <div class="row">
    <div class="col-sm-6">
      <p>
        キャッチコピーキャッチコピーキャッチコピー
      </p>
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        キャッチコピーキャッチコピーキャッチコピー
      </p>
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>
</div>

<div class="container">
  <p class="text-center">まずは無料でお試し</p>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "無料ユーザー登録はこちら", new_user_registration_path, { class: "btn btn-danger btn-lg btn-block" } %>
    </div>
    <div class="col-sm-6">
      <%= link_to "スタイリスト登録はこちら", new_user_registration_path, { class: "btn btn-info btn-lg btn-block" } %>
    </div>
  </div>
</div>

