<% content_for :title do %>
利用規約
<% end %>

<section class="section p-underlayer c-border-t c-border-r c-border-l">
    <div class="container">
      <h3 class="text-center section__title-sub2">利用規約</h3>
        <h4>はじめに</h4>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        
        <h4>個人情報保護方針</h4>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div><!-- .container -->
</section>

<%= render "shared/voice" %>
