<% content_for :title do %>
マイページ
<% end %>

<% content_for :js do %>
<script src="/js/mypage.js" type="text/javascript"></script>
<% end %>

<div class="jumbotron-underlayer">
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center jumbotron-underlayer__title">
        マイページ
      </h2>
    </div>
  </div>
</div>

<div class="mypage c-bg-light c-border-t c-border-r c-border-l">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <p class="text-center"><img class="mypage__profile-img c-w100" src="/images/prof_img2.jpg" alt=""></p>
              <p class="user-name text-center"><%= current_user.id %> 番目の人</p>

              <div id="mypage__menu">
                <%= render "menu" %>
              </div><!-- .mypage__menu -->
           </div>

          <div class="col-md-9 c-bg-white mypage__main-col">
              <section>
                       <h3 class="text-center section__title-sub2">タイトル</h3>
                          <dl class="c-table">
                              <dt>ユーザー名</dt>
                              <dd><%= current_user.id %> 番目の人</dd>
                           </dl>
                           <dl class="c-table">
                               <dt>メールアドレス</dt>
                               <dd><%= current_user.email %></dd>
                           </dl>
                           <dl class="c-table">
                               <dt>性別</dt>
                               <dd>女</dd>
                           </dl>
                </section>
                <section>
                    <h3 class="text-center section__title-sub2">タイトル</h3>
                      <form class="form-horizontal">
                        <div class="form-group text-left">
                            <label class="control-label col-xs-3">ユーザー名</label>
                            <div class="col-xs-7">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <label class="control-label col-xs-3">メールアドレス</label>
                            <div class="col-xs-7">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-danger">更新する</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
       </div>
    </div>
</div><!-- .mypage -->
