<% content_for :title do %>
チケット一覧
<% end %>

    <div class="jumbotron-underlayer">
        <div class="jumbotron">
          <div class="container">
            <h2 class="text-center jumbotron-underlayer__title">
                チケット一覧
            </h2>
          </div>
        </div>
    </div>

    <div class="p-search_area c-border-t c-border-r c-border-l">
     <div class="container">

        <div>
           <div class="p-items-search-tab"> 
            <div class="select-box select-box__left pull-left">
                <label>
                <select id="tab-service" name='tab-service'>
                    <option value="">サービス内容</option>
                    <optgroup label="ネイル">
                    <option value="nail-color">ネイルカラー</option>
                    <option value="nail-jel">ネイルジェル</option>
                    <optgroup label="フェイス">
                    <option value="">選択肢03</option>
                    <option value="">選択肢04</option>
                    <option value="">選択肢05</option>
                </select>
                </label>
            </div>

            <div class="select-box select-box__right pull-left">
                <label>
                <select id="tab-area" name='tab-area'>
                    <option value="">エリア</option>
                    <optgroup label="北海道">
                    <option value="Hokkaido">北海道</option>
                    <optgroup label="北東北">
                    <option value="Aomori">青森県</option>
                    <option value="Akita">秋田県</option>
                    <option value="">選択肢04</option>
                    <option value="">選択肢05</option>
                </select>
                </label>
            </div>
           </div><!-- .p-itens-search-tab -->
         </div>   

         <div class="p-items-search-tab__selected-tab"> 
                <ul class="selected-tab__item">
                     <li><a class="selected-tab__item-close">テスト</a></li>
                 </ul>
        </div>


         <div class="text-center">
           <div class="p-items-search-tab"> 
                <div class="select-box select-box__right pull-right">
                    <p class="p-search-tab__tomorrow">明日</p>
                </div>

                <div class="select-box pull-right">
                    <p class="p-search-tab__today">今日</p>
                </div>

                <div class="select-box select-box__left pull-right">
                    <p class="p-search-tab__all active">すべて</p>
                </div>
           </div><!-- .p-itens-search-tab -->
         </div>   

    </div>
  </div><!-- .p-search_area -->




<section class="section c-bg-dark c-border-r c-border-l">
    <div class="container">
      <p class="c-bold c-padding-top-large"><%= @items.size %> 枚のチケットが見つかりました</p>

  <% @items.each_slice(3) do |items| %>
    <div class="row">
      <%= render items %>
    </div>
  <% end %>
 </div>    
</section>

<%= render "shared/voice" %>
