<% content_for :title do %>
出品したチケット
<% end %>

<% content_for :js do %>
<script src="/js/mypage.js" type="text/javascript"></script>
<% end %>

<h3 class="text-center section__title-sub2">出品したチケット</h3>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>TODO: 表示する項目を要検討。</p>
  <p>TODO: デザイン未決定 (メッセージのデザインを流用)。</p>
</div>

<hr class="c-hr">

<%= render @items %>

